@{
    ViewData["Title"] = "Home Page";
}
@model List<Pelicula>
<div class="text-center">
    <h1 class="display-4">
        Bienvenido de vuelta @Context.Session.GetString("Nombre") @Context.Session.GetString("Apellido")
    </h1>
    <h2> Lista de Películas </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Título </th>
                <th> Género</th>
                <th> Año </th>
                <th> Descripción </th>
                <th> Acciones </th>
            </tr>
        </thead>
        <tbody>
            @foreach(Pelicula pelicula in @Model){
                <tr>
                    <td> @pelicula.Titulo </td>
                    <td> @pelicula.Genero </td>
                    <td> @pelicula.Anio </td>
                    <td> @pelicula.Descripcion </td>
                    <td>
                        @if(Context.Session.GetInt32("Id") == pelicula.Director_Id){
                            <a asp-controller="Home" asp-action="FormularioEditarPelicula" asp-route-id_pelicula="@pelicula.Id">
                                <button class="btn btn-warning">
                                    Editar
                                </button>
                            </a>
                            <form method="POST" asp-controller="Home" asp-action="EliminaPelicula" asp-route-id_pelicula="@pelicula.Id">
                                <button class="btn btn-danger">
                                    Eliminar
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Home" asp-action="FormularioPelicula">
        <button class="btn btn-primary">
            Agregar Película
        </button>
    </a>
</div>
